# /etc/udev/rules.d/99-esp32.rules
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", ENV{ID_VENDOR_ID}=="10c4", ENV{ID_MODEL_ID}=="ea60", ENV{ID_SERIAL_SHORT}=="0001", SYMLINK+="esp32-led", GROUP="dialout", MODE="0660", TAG+="uaccess"

